*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(200px,auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.container div{
    background-color: rgba(54, 47, 47, 0.429);
}
.div1{
    grid-column: 1/3;
    height: 100px;
}
.div1 p{
    display: block;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: 70px;
    left: 30px;
    top: 10px;
}
.div2{
    position: relative;
    bottom: 100px;
    grid-column: 1/3;
    grid-row: 2/4;
}
.div4{
    position: relative;
    bottom: 100px;
    left: 60%;
    height: 1000px;
    width: 250px;
}
.div3{
    position: relative;
    bottom: 100px;
    height: 300px;
}
.div5{
    position: relative;
    left: 640px;
    bottom: 1110px;
    width: 360px;
    height: 300px;
}
.div6{
    position: relative;
    right: 263px;
    bottom: 800px;
}
.div7{
    position: relative;
    bottom: 1110px;
    height: 300px;
    width: 360px;
}
.div8{
    position: relative;
    right: 637px;
    bottom: 800px;
    width: 600px;
    height: 380px;
}
.div9{
    position: relative;
    bottom: 1190px;
    left: 610px;
    height: 380px;
    width: 390px;
}
.div10{
    text-align: center;
    background-color: rgba(54, 47, 47, 0.429);
    position: relative;
    bottom: 1180px;
    width: 100%;
    height: 300px;
}
.menu{
    position: absolute;
    border-radius: 5px;
    bottom: 510px;
    left: 1200px;
    width: 40px;
    height: 40px;
}
.menu-2{
    display: none;
}
.menu-2 ul li{
    list-style: none;
}
.fa-solid{
    position: relative;
    color:rgb(0, 0, 0);
    top: 5px;
    font-size: 30px;
    left: 7px;
    z-index: 2;
}
.menu:hover .menu-2{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    display: block;
    top: 10px;
    right: 20px;
    width: 65px;
    height: 120px;
}
.menu-2 ul li a{
    text-decoration: none;
    color: black;
}
.menu:hover .fa-solid{
    display: none;
}
.div2 img{
    width: 1263px;
}
.r p{
    color: brown;
    font-family: fantasy;
    font-size: 30px;
    background-color: black;
}